//Inicio das incluçoes

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>

//Fim das incluçoes
//Inicio das definiçoes de configurações
//MOUSE

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000  // padrão: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // padrão: 10

//Fim das definiçoes de configurações
//Inicio das definiçoes das camadas

#define BASE 0
#define ESQRD 1
#define ESQRD_MOUSE 2
#define DIREITA 3
#define Num 4
#define AMBAS 5

//Fim das definiçoes das camadas
//Inicio dos comportamentos de teclas
//MT = MOD-TAP, se eu tocar o SHIFT pelo tempo menor que delimitei, ele vira o caps_word, caso eu continue pressionando o shift, ele se mantem como shift 

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <250>;
    require-prior-idle-ms = <125>;
    quick-tap-ms = <100>;
};

//SK = 

&sk {
    release-after-ms = <2000>;
    quick-release;
};

//Fim dos comportamentos de teclas

/ {
    // Ative a camada 'AMBAS' pressionando DIREITA e ESQUERDA

    conditional_layers {
        compatible = "zmk,conditional-layers";

        AMBAS_layer {
            if-layers = <1 3>;
            then-layer = <6>;
        };
    };

    //Fim
    //Inicio  Combos

    combos {
        compatible = "zmk,combos";

        Backspace-Dir {
            timeout-ms = <30>;
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
        };

        CapsLock {
            timeout-ms = <30>;
            key-positions = <10 0>;
            bindings = <&kp CAPSLOCK>;
        };

        Sen1 {
            bindings = <&Sen1>;
            key-positions = <14 3 2>;
            layers = <1>;
        };

        Enter-Dir {
            bindings = <&kp ENTER>;
            key-positions = <5 6>;
            layers = <3>;
        };

        Desfazazer {
            bindings = <&kp LC(Z)>;
            key-positions = <37 38 20 21>;
            layers = <1>;
        };

        Refazer {
            bindings = <&kp LC(Y)>;
            key-positions = <38 37 39 20 21 22>;
            layers = <1>;
        };

        Copiar {
            bindings = <&kp LC(C)>;
            key-positions = <38 39 21 22>;
            layers = <1>;
        };

        Colar {
            bindings = <&kp LC(V)>;
            key-positions = <40 39 22 23>;
            layers = <1>;
        };

        Recortar {
            bindings = <&kp LC(X)>;
            key-positions = <38 39 40 21 22 23>;
        };

        Selecionar_Tudo {
            bindings = <&kp LC(A)>;
            key-positions = <37 20 10>;
            layers = <1>;
        };

        Esc {
            bindings = <&kp ESC>;
            key-positions = <10 11>;
            layers = <1>;
        };

        Delete-Dir {
            bindings = <&kp DELETE>;
            key-positions = <7 8 9>;
            layers = <3>;
        };

        Delete-Esq {
            bindings = <&kp DELETE>;
            key-positions = <0 1 2>;
            layers = <1>;
        };

        Backspace-Esq {
            bindings = <&kp BACKSPACE>;
            key-positions = <0 1>;
        };

        Enter-Esq {
            bindings = <&kp ENTER>;
            key-positions = <3 4>;
            layers = <1>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <41 40 23 24>;
        };
    };

    //Fim
    //inicio macro

    macros {
        Sen1: Sen1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp AT &kp LS(K) &kp O &kp LS(D) &kp A &kp UNDER &kp LS(M) &kp A &kp S &kp LS(T) &kp E &kp R &kp EXCL &kp N6 &kp N4 &kp N2 &kp N8 &kp N9 &kp N0 &kp ENTER>;

            label = "SEN1";
        };
    };

    //fim macro
    //Fim

    behaviors {
        EsqLayer: EsqLayer {
            compatible = "zmk,behavior-tap-dance";
            label = "ESQLAYER";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&mo 2>;
        };

        DirLayer: DirLayer {
            compatible = "zmk,behavior-tap-dance";
            label = "DIRLAYER";
            #binding-cells = <0>;
            bindings = <&mo 3>, <&mo 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Inicio do Layout BASE

        default_layer {
            display-name = "BASE";
            bindings = <
&kp Q           &kp W           &kp E               &kp R             &kp T                                     &kp Y      &kp U              &kp I                &kp O            &kp P
&mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_SHIFT F  &kp G                                     &kp H      &mt RIGHT_SHIFT J  &mt RIGHT_CONTROL K  &mt RIGHT_ALT L  &mt RIGHT_GUI SEMI
&kp Z           &kp X           &kp C               &kp V             &kp B                                     &kp N      &kp M              &mt SQT COMMA        &kp DOT          &mt BSLH FSLH
                                                    &EsqLayer         &EsqLayer  &mt LALT SPACE      &kp SPACE  &DirLayer  &none
            >;
        };

        ESQ {
            display-name = "ESQRD";

            // ┌─────┬────┬─────┬─────┬─────┐         ┌───────┬─────┬────┬─────┬─────┐
            // │ ►⫼  |    | ◄)) |     |  ↲  |         │       |     |    |     |     |
            // ├─────┼────┼─────┼─────┼─────┤         ├───────┼─────┼────┼─────┼─────┤
            // │  «  |  » | ◄)  |  {  |  }  |         │       |     |    |     |     |
            // ├─────┼────┼─────┼─────┼─────┤         ├───────┼─────┼────┼─────┼─────┤
            // │  «« | »» | ◄x  |  [  |  ]  |         │       |     |    |     |     |
            // └─────┴────┴─────┼─────┼─────┤         ├───────┼─────┼────┴─────┴─────┘
            //                  |     |     |         │       |     |
            //                  └─────┴─────┘         └───────┴─────┘

            bindings = <
&kp C_PP    &none       &kp C_VOL_UP  &none  &tog 7                    &none  &none  &none  &none  &none
&kp C_PREV  &kp C_NEXT  &kp C_VOL_DN  &none  &none                     &none  &none  &none  &none  &none
&kp C_RW    &kp C_FF    &kp C_MUTE    &none  &none                     &none  &none  &none  &none  &none
                                      &none  &none   &none      &none  &none  &none
            >;
        };

        EsqBT {
            bindings = <
&bt BT_CLR      &trans        &trans        &trans        &trans                            &trans  &trans  &trans  &trans  &trans
&bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                      &trans  &trans  &trans  &trans  &trans
&bt BT_CLR_ALL  &trans        &trans        &trans        &trans                            &trans  &trans  &trans  &trans  &trans
                                            &trans        &trans        &trans      &trans  &trans  &trans
            >;
        };

        DIR {
            display-name = "DIREITA";

            // ┌─────┬────┬─────┬─────┬─────┐               ┌───────┬─────┬─────┬─────┬─────┐
            // │     |    |     |     |     |               │ PG UP |     |  ▲  |     |     |
            // ├─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼─────┼─────┼─────┤
            // │     |    |     |     |     |               │ PG DN |  ◄  |  ▼  |  ►  |     |
            // ├─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼─────┼─────┼─────┤
            // │     |    |     |     |     |               │       |     |     |     | \ | |
            // └─────┴────┴─────┼─────┼─────┤               ├───────┼─────┼─────┴─────┴─────┘
            //                  |     |     |               │       |     |
            //                  └─────┴─────┘               └───────┴─────┘

            bindings = <
&none  &none  &none  &none  &none                    &kp PG_UP   &none         &kp UP        &none      &mt MINUS EQUAL
&none  &none  &none  &none  &none                    &kp PG_DN   &kp LEFT      &kp DOWN      &kp RIGHT  &kp TILDE
&none  &none  &none  &none  &none                    &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &none      &kp BSLH
                     &none  &none  &none      &none  &none       &none
            >;
        };

        DirBT {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans  &trans  &trans  &trans                      &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0
&trans  &trans  &trans  &trans  &trans                      &trans        &trans        &trans        &trans        &bt BT_CLR_ALL
                        &trans  &trans  &trans      &trans  &trans        &trans
            >;
        };

        Num {
            display-name = "Num";

            // ┌─────┬────┬─────┬─────┬─────┐               ┌───────┬─────┬─────┬─────┬─────┐
            // │     |    |     |     |     |               │       |  4  |  5  |  6  |     |
            // ├─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼─────┼─────┼─────┤
            // │     |    |     |     |     |               │       |  1  |  2  |  3  |     |
            // ├─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼─────┼─────┼─────┤
            // │     |    |     |     |     |               │       |  0  |  ,  |  .  |  =  |
            // └─────┴────┴─────┼─────┼─────┤               ├───────┼─────┼─────┴─────┴─────┘
            //                  |     |     |               │       |     |
            //                  └─────┴─────┘               └───────┴─────┘

            bindings = <
&kp N1  &kp N2  &kp N3  &kp LBRC  &kp RBRC                    &none  &none  &none  &none  &none
&kp N4  &kp N5  &kp N6  &kp LPAR  &kp RPAR                    &none  &none  &none  &none  &none
&kp N7  &kp N8  &kp N9  &kp LBKT  &kp RBKT                    &none  &none  &none  &none  &none
                        &kp N0    &none     &none      &none  &none  &none
            >;
        };

        Func {
            display-name = "Num";
            bindings = <
&kp F1  &kp F2  &kp F3  &none    &none                      &none  &none  &none  &none  &none
&kp F4  &kp F5  &kp F6  &none    &none                      &none  &none  &none  &none  &none
&kp F7  &kp F8  &kp F9  &kp F11  &kp F12                    &none  &none  &none  &none  &none
                        &kp F10  &none    &none      &none  &none  &none
            >;
        };

        MOUSE {
            display-name = "ESQRD_MOUSE";

            // ┌─────┬─────┬─────┬─────┬─────┐            ┌─────┬─────┬────┬─────┬─────┐
            // │     | B4  |  ▲  |  B5 |ROL ▲|            │     |     |    |     |     |
            // ├─────┼─────┼─────┼─────┼─────┤            ├─────┼─────┼────┼─────┼─────┤
            // │     |  ◄  |  ▼  |  ►  |ROL ▼|            │     |     |    |     |     |
            // ├─────┼─────┼─────┼─────┼─────┤            ├─────┼─────┼────┼─────┼─────┤
            // │     |ROL◄ |ROL ►|     |     |            │     |     |    |     |     |
            // └─────┴─────┴─────┼─────┼─────┤            ├─────┼─────┼────┴─────┴─────┘
            //                   |ESQRD|DIRTA|            │     |     |
            //                   └─────┴─────┘            └─────┴─────┘

            bindings = <
&mkp MB3  &mkp MB4        &mmv MOVE_UP     &mkp MB5         &msc SCRL_UP                         &none  &none  &none  &none  &none
&none     &mmv MOVE_LEFT  &mmv MOVE_DOWN   &mmv MOVE_RIGHT  &msc SCRL_DOWN                       &none  &none  &none  &none  &none
&none     &msc SCRL_LEFT  &msc SCRL_RIGHT  &none            &none                                &none  &none  &none  &none  &none
                                           &tog 0           &mkp MB1        &mkp MB2      &none  &none  &none
            >;
        };

        AMBAS {
            display-name = "AMBAS";

            // ┌─────┬────┬─────┬─────┬─────┐               ┌───────┬─────┬────┬─────┬─────┐
            // │     |    |     |     |     |               │       |     |    |     |     |
            // ├─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼────┼─────┼─────┤
            // │     |    |     |     |     |               │       |     |    |     |     |
            // ├─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼────┼─────┼─────┤
            // │     |    |     |     |     |               │       |     |    |     |     |
            // └─────┴────┴─────┼─────┼─────┤               ├───────┼─────┼────┴─────┴─────┘
            //                  |     |     |               │       |     |
            //                  └─────┴─────┘               └───────┴─────┘

            bindings = <
&none  &none  &none  &none  &none                    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none                    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none                    &none  &none  &none  &none  &none
                     &none  &none  &none      &none  &none  &none
            >;
        };

        // Fim do Layout AMBAS
    };
};
